body {
    margin: 0
}

#root {
    display: grid;
    height: 100vh;
    grid-template-rows: auto;
    grid-template-columns: 25% 75%;
    grid-template-areas: "a b";
}

aside {
    grid-area: a;
}

main {
    grid-area: b;
}
